.card {
    margin: 20px;
    width: 30%;
}

.curr-wrapper {
    display: flex;
}

.curr-wrapper > div {
    width: 50%;
}

.curr-wrapper > div:first-child {
    padding-right: 10px;
}

.curr-wrapper > div:last-child {
    padding-left: 10px;
}